version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "vitest"
        update-types: ["version-update:semver-major"]
    groups:
      npm-all:
        patterns:
          - "*"
